// @import "./src/assets/style/font";
@import "./src/assets/style/variables";

.pagination-container {
  // max-width : 400px;
  // width     : 100%;
  // margin    : 45px auto 0;

  .selected {
    // background      : white;
    min-width           : 40px;
    height          : 40px;
    padding: 5px;
    border-radius   : 8px;
    color           : black;
    display         : flex;
    justify-content : center;
    align-items     : center;
    color: $active-color;
  }
  li{
    color     : #292E46;
    font-size: 15px;
    min-width           : 40px;
      height          : 40px;
      border-radius   : 8px;
      display         : flex;
      justify-content : center;
      align-items     : center;
      // padding: 0 10px;
      padding: 5px;
    &:hover{
      min-width           : 40px;
      height          : 40px;
      border-radius   : 8px;
      display         : flex;
      padding: 5px;
      justify-content : center;
      align-items     : center;
      // color           : white;
      background-color :$hover-color;
    }
  }
  .arrow{
    font-size: 14px;
    cursor: pointer;
  }
}