@import "./variables";
@import "./mixin";
@import "./font";


.G-pointer {
  cursor : pointer;
}

::-webkit-scrollbar {
  width            : 6px;
  height           : 6px;
  background-color : rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background    : rgba(206, 216, 221, 0.5);;
  border-radius : 20px;
}

.G-hidden {
  overflow : hidden;
}

.G-container {
  max-width : 1564px;
  width     : 100%;
  padding   : 20px 60px 20px 42px;
  margin    : 0 auto;
}
.G-block-container{
  padding: 40px 0 ;
  margin    : 0 auto;

}

.G-close-button {
  position   : relative;
  width      : 40px;
  height     : 40px;
  // right      : 20px;
  // top        : 20px;
  cursor     : pointer;
  transform  : rotate(45deg);
  transition : 0.3s;

  &::before {
    content          : "";
    width            : 30px;
    height           : 1px;
    background-color : $grey-60;
    display          : block;
    position         : absolute;
    left             : 50%;
    top              : 50%;
    transform        : translate(-50%, -50%);
    transition       : $transition;
  }
;

  &::after {
    content          : "";
    width            : 30px;
    height           : 1px;
    background-color : $grey-60;
    display          : block;
    position         : absolute;
    left             : 50%;
    top              : 50%;
    transition       : $transition;
    transform        : translate(-50%, -50%) rotate(90deg);
  }
}

.G-full-line {
  width   : 100%;
}
.G-padding-33 {
  width   : 33.33%;
  padding : 10px 25px;
}
.G-padding-25 {
  width   : 25%;
  padding : 10px 25px;
}

.G-padding-50 {
  width   : 50%;
  padding : 10px 25px;
}


.G-image-cover {
  background-size     : cover;
  background-position : center;
  background-repeat   : no-repeat;
}

.G-image-contain {
  background-size     : contain;
  background-position : center;
  background-repeat   : no-repeat;
}

.G-shadow{
  -webkit-box-shadow : 2px 3px 4px 0 #ebe7e7;
  box-shadow         : 2px 3px 4px 0 #ebe7e7;
}

.G-shadow-dark{
  -webkit-box-shadow : 2px 3px 4px 0 #c2bfbf;
  box-shadow         : 2px 3px 4px 0 #c2bfbf;
}

.G-shadow-around{
  -webkit-box-shadow: 2px 0px 18px 2px rgba(204,200,200,0.56);
  box-shadow: 2px 0px 18px 2px rgba(204,200,200,0.56);
}
.G-add-style{
  color: $green-light;
  text-align: end;
  p{
    font-size: 16px;
    // font-family: $Medium;
    margin-left: 15px;
    text-transform: uppercase;
  }
}
//Attach-img
.G-attach-img{
  border: 1px dashed #D4D5DA;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.03), 0px 5px 13px rgba(41, 46, 70, 0.07), 0px 1px 2px rgba(41, 46, 70, 0.09);
  border-radius: 20px;
  height: 264px;
  max-width: 440px;
  width : 100%;
  margin-right: 20px;
  &-icon{
    width : 75px;
    height: 75px;
    margin-bottom: 30px;
  }
  &-text{
    font-size: 14px;
    line-height: 20px;
    color: #8F929E;
    // font-family: $Regular;
  }
}
//Charts-style
.G-chart-column{
  padding: 20px;

  .canvasjs-chart-credit{
    display: none !important;
  }
}
.G-doughnut-chart{
  width: 375px;
  padding: 30px;
  .canvasjs-chart-credit{
    display: none !important;

  }
}

// @import "src/assets/style/mixin";

@keyframes example {
  from {height: 0px;}
  to {height: 50px;}
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
  width: '60px' !important;
}

.G-table-actions-header{
  background-color: white;
  align-items: center;
  height:55px;
  .G-checkbox{
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: block;
  }
  .G-edit{
    padding: 6px 8px;
    border-radius: 4px;

    &:hover{
      background-color: $hover-color;
      cursor: pointer;
    }
    .icon-material-symbols_edit{
      font-size: 16px;
      margin-right: 10px;
    }
  }
  .G-delete{
    padding: 6px 8px;
    border-radius: 4px;
    &:hover{
      background-color: $hover-color;
      cursor: pointer;
    }
    &:focus{
      .icon-material-symbols_delete{
        color: $active-color;
        outline: none;
      }
    }
    .icon-material-symbols_delete{
      font-size: 16px;
      margin-right: 10px;
  
    }
  }
  
  .G-Select-container{
   width: 56px;
   height: 32px;
    .G-select-header{
      padding: 0;
      box-shadow:none;
      display: flex;
      justify-content: center;
      height: 32px;
      p{
        width: 50%;
      }
      span{
        font-size: 12px;
      }
    }
  }
  .G-pagionation{
    margin: 0 10px;
    height: 24px;
  }
}

.G-data-table {
  color         : #161515;
  overflow-y    : auto;
  overflow-x    : auto;
  max-height    : calc(100vh - 320px);
  border-radius : 5px;
  margin        : 0;
  position      : relative;
  z-index       : 1;
  
  .G-table-actions {
    width           : 40px;
    min-width       : 40px;
    position        : -webkit-sticky;
    position        : sticky;
    right           : 0;
    display         : flex;
    align-items     : center;
    justify-content : center;
    z-index         : 99;
  }
}

.G-data-scroll {
  display : grid;
.G-header{
  display: flex; 
  position: sticky; 
  top: 0; 
  z-index: 998;
  border-bottom:1px solid #CED8DD;

  .G-data-table-header {
    margin          : 0;
    z-index         : 999;
    display         : flex;
    font-size       : 14px;
    list-style-type : none;
    position        : -webkit-sticky;
    position        : sticky;
    top             : 0;
    background-color      : #CED8DD;
    text-align: center;

    li {
      background-color: #CED8DD;
      padding     : 14px 15px;
      width       : 100%;
      color       : var(--blue-base);
      font-size   : var(--font-size-14);
      font-weight : 600;
      transition  : .3s;
      left        : auto;
      position    : relative;
      &:first-child {
        border-left : none;
      }
    }
}
}
.G-data-table-body {
  .G-dropdown-link{
    border: 1px solid #CED8DD;
  }
  .G-data-table-body div:nth-child(1){
    background-color: #000;
  }
  .G-checkbox{
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: block;
  }
  .G-FreezedRow{
    position: sticky;
    top: 48px;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.08);
    z-index: 35  ;
  }
  
  
  ul {
    color           : #000;
    margin          : 0;
    display         : flex;
    position        : relative;
    list-style-type : none;
    border-bottom : 1px solid #CED8DD;
    background-color : white;

    .G-rows-icons{
      align-items      : center;
      padding: 0 !important;
      position: sticky !important;
      top: 0;
      z-index: 13;
      width: 0 !important;
      height: auto;
      left: calc(100% - 120px) !important;
      display: none;
      .G-icons-group{
        display: flex;
        width: 150px;
        align-items: center;
        backdrop-filter: blur(1px) !important;
        .icon-material-symbols_edit{
          cursor: pointer;
          font-size: 24px;
          padding-right: 8px;
        }
        .icon-material-symbols_delete{
          cursor: pointer;
          
          font-size: 24px;
          padding: 0 8px;
         
        }
        .icon-material-symbols_dashboard-rounded{
          cursor: pointer;

          font-size: 24px;
          padding:0 18px 0 8px;
        }
      }
    }
    &:nth-child(odd) {
      li {
        text-align: center;
      }
    }

    &:hover {
      & li:nth-child(1){
        display:flex
        
      }
      li {
        background-color : #F2F2F2 !important
      }
    }

    li {
      width            : 100%;
      display          : flex;
      position         : relative;
      font-size        : 14px;
      color            : var(--grey-base);
      align-items      : center;
      padding          : 14px 15px;
      transition       : var(--transition);
      background-color : var(--white-01);
      justify-content: center;
      &:first-child {
        border-left   : none;
      }
    }
    
    &:last-child {
      .P-actions-list {
        bottom    : 0;
        top       : auto;
        transform : translateY(0);
      }
    }
    
  }
}

.G-total-footer{
  display: flex; 
  position: sticky; 
  bottom: 0; 
  z-index:998;
  
  .G-data-table-footer
  {
    margin          : 0;
    z-index         : 999;
    display         : flex;
    font-size       : 14px;
    list-style-type : none;
    position        : -webkit-sticky;
    position        : sticky;
    top             : 0;
    background      : var(--grey-55);
    text-align: center;
    background-color      : #CED8DD;
  
    li {
      background-color: #CED8DD;
      padding     : 14px 15px;
      width       : 100%;
      color       : var(--blue-base);
      font-size   : var(--font-size-14);
      font-weight : 600;
      transition  : .3s;
      left        : auto;
      position    : relative;
      &:first-child {
        border-left : none;
      }
    }
  }
  }
}



