.G-check-all-component{
    max-width: 60p;
    min-width: 60px;
    display: flex;
    justify-content: center;
}
.G-dropdown-list{
    border: 1px solid #757575;
    padding: 24px;
    min-height: 150px;
    display: flex;
    border-radius: 4px;
    flex-direction: column;

    li{
        width: 240px;
        min-width: 240px;
        padding: 12px 0;
        border-bottom: 1px solid #CED8DD;
        width: 100%;
        cursor: pointer;
        &:first-child{
            padding:0 0  12px 0;
        }
        &:last-child{
            padding: 12px 0 0 0;
            border:none
        }
    }
}
