@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rc82ha');
  src:  url('fonts/icomoon.eot?rc82ha#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rc82ha') format('truetype'),
    url('fonts/icomoon.woff?rc82ha') format('woff'),
    url('fonts/icomoon.svg?rc82ha#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Polygon-4:before {
  content: "\e923";
}
.icon-Vector3:before {
  content: "\e91f";
}
.icon-Vector11:before {
  content: "\e921";
}
.icon-material-symbols_download-rounded1:before {
  content: "\e903";
}
.icon-Wallet:before {
  content: "\e91e";
}
.icon-ic_twotone-support-agent:before {
  content: "\e920";
}
.icon-Vector1:before {
  content: "\e91d";
}
.icon-Vector4:before {
  content: "\e922";
}
.icon-bi_filetype-xls:before {
  content: "\e900";
}
.icon-bx_columns:before {
  content: "\e901";
}
.icon-Frame-73:before {
  content: "\e902";
}
.icon-Group-125:before {
  content: "\e904";
}
.icon-Group-173:before {
  content: "\e905";
}
.icon-ic_outline-remove-red-eye:before {
  content: "\e906";
}
.icon-material-symbols_delete:before {
  content: "\e907";
}
.icon-material-symbols_download-rounded:before {
  content: "\e908";
}
.icon-material-symbols_edit:before {
  content: "\e909";
}
.icon-material-symbols_filter-alt:before {
  content: "\e90a";
}
.icon-Group-36734:before {
  content: "\e90b";
}
.icon-material-symbols_arrow-forward-ios-rounded-3:before {
  content: "\e90c";
}
.icon-ant-design_apartment-outlined:before {
  content: "\e90d";
}
.icon-bxs_report:before {
  content: "\e90e";
}
.icon-clarity_building-solid:before {
  content: "\e90f";
}
.icon-Clear:before {
  content: "\e910";
}
.icon-debt-1:before {
  content: "\e911";
}
.icon-fluent_people-community-16-filled:before {
  content: "\e912";
}
.icon-Group:before {
  content: "\e913";
}
.icon-material-symbols_arrow-forward-ios-rounded:before {
  content: "\e914";
}
.icon-material-symbols_arrow-forward-ios-rounded-1:before {
  content: "\e915";
}
.icon-material-symbols_arrow-forward-ios-rounded-2:before {
  content: "\e916";
}
.icon-material-symbols_dashboard-rounded:before {
  content: "\e917";
}
.icon-material-symbols_folder-managed:before {
  content: "\e918";
}
.icon-Today:before {
  content: "\e919";
}
.icon-wpf_coins:before {
  content: "\e91a";
}
.icon-Vector:before {
  content: "\e91b";
}
.icon-Vector2:before {
  content: "\e91c";
}
