.P-Filters{
    .ForModal{
        .MuiSvgIcon-root{
            path{
                color: #4844C5;
            }
        }
    }
    .css-1h51icj-MuiAutocomplete-root div.MuiAutocomplete-tag{
        background-color: #DADAF3;
        max-width: calc(100% - 50px); 
        justify-content: space-between;
    }
    .css-1q79v3g-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon{
        color: white;
        font-size: 25px ;
    }
    .css-1wc848c-MuiFormHelperText-root{
        line-height: none !important;
        margin-top: 0;
    }
    
}
.MuiPaper-root .css-1g7nc1s-MuiPickersLayout-root{
    display: flex;
    flex-direction: column-reverse;
}

.date-picker {
    .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
        border-color: red !important;
    }
}