.P-Filters{
    .IsBold {
        .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
            height: 80px;
            font-size:16px !important;
            font-weight: bold !important;
            justify-content: center !important;
        }
        .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
            width: auto !important;
        }
        .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
            padding-left: 5px !important;
            font-size: 20px !important;
        }
        .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
            padding-left: 0 !important;
            padding-right: 0 !important;
            &:hover{
                background-color: White !important;
            }
        }
        .css-1laqsz7-MuiInputAdornment-root{
            margin-left: 0 !important;
        }
    }
    .ForModal{
        .MuiSvgIcon-root{
            path{
                color: #4844C5;
            }
        }
    }
    .css-1h51icj-MuiAutocomplete-root div.MuiAutocomplete-tag{
        background-color: #DADAF3;
        max-width: calc(100% - 50px); 
        justify-content: space-between;
    }

    .css-1q79v3g-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon{
        color: white;
        font-size: 25px ;
    }

    .css-1wc848c-MuiFormHelperText-root{
        line-height: none !important;
        margin-top: 0;
    }
    
}

.MuiPaper-root .css-1g7nc1s-MuiPickersLayout-root{
    display: flex;
    flex-direction: column-reverse;
}