.inputWrapper {
  .errorText {
    display: none;
  }

  //   &:has(:invalid) {
  //     --border-color: red;
  //   }
  //   &:has(:invalid) {
  //     --border-color: green;
  //   }
  //   &:has(:focus) {
  //     --border-color: black;
  //   }

  .input {
    outline: black;
    border: none;
    &:valid {
      outline: 3px solid black;
    }
    &:invalid {
      outline: 3px solid red;
      & + .errorText {
        display: block;
        color: red;
      }
    }
  }
}
