.css-6hp17o-MuiList-root-MuiMenu-list{
    padding: 0 !important;
}
.icon-bx_columns{
    font-size: 20px !important;
    margin-right: 10px;
}
.G-columns-customize{
    margin-left: "5px";
    flex: "1 1 auto" ;
    
}

.G-confirm-button{
    
    display: flex;
    justify-content: end;
    button{
        background: #FB9C59;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        margin: 24px;
        width: 100%;
        padding: 6px 0;
    }
}