@import "src/assets/style/variables";
// @import "src/assets/style/mixin";
// @import "src/assets/style/font";


.G-select {
  position: relative;
  // z-index: 1001;
  z-index: 20;
}

.G-select-header {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 99999;
  // @include screen-max-width-1200 {
  //   height: 45px;
  // }

  &.G-with-icon {
    p {
      width: calc(100% - 35px);
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.G-opacity-placeholder {
      opacity: 0.5;
    }
  }

  .G-select-icon {
    font-size: 14px;
    margin-top:2px;
  }
}

.G-select-list {
  width: 100%;
  position: absolute;
  z-index: 99999;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.05);

  ul {
    background-color: white;
    ;

    li {
      padding: 10px 15px;
      cursor: pointer;
      transition: --transition;

      &.G-selected-item {
        color: $active-color;
      }

      &:hover {
        background-color: $hover-color;
      }

      p {
        font-size: 12px;
      }
    }

    li + li {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
  }
}
.G-select-list-top {
  top: -250px;
}

.G-select-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-right: 10px;
  display: block;
}

.G-select-label {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  // max-width: calc(100% - 20px);

}

.G-select-status {
  width: 11px;
  height: 11px;
  margin-right: 10px;
  border-radius: 50%;
}
