@import "src/assets/style/variables";
// @import "src/assets/style/mixin";

@keyframes example {
  from {height: 0px;}
  to {height: 50px;}
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
  width: '60px' !important;
}

.G-data-table {
  color         : #161515;
  overflow-y    : auto;
  overflow-x    : auto;
  max-height    : calc(100vh - 220px);
  border-radius : 5px;
  margin        : 0;
  position      : relative;
  z-index       : 1;
  
  .G-table-actions {
    width           : 40px;
    min-width       : 40px;
    position        : -webkit-sticky;
    position        : sticky;
    right           : 0;
    display         : flex;
    align-items     : center;
    justify-content : center;
    z-index         : 99;
  }
}

.G-data-scroll {
  display : grid;
.G-header{
  display: flex; 
  position: sticky; 
  top: 0; 
  z-index: 998;
  border-bottom:1px solid #CED8DD;

  .G-data-table-header {
    margin          : 0;
    z-index         : 999;
    display         : flex;
    font-size       : 14px;
    list-style-type : none;
    position        : -webkit-sticky;
    position        : sticky;
    top             : 0;
    background-color      : #F3F6F8;
    text-align: center;

    li {
      background-color: #F3F6F8;
      padding     : 2px 10px;
      // width       : 100%;
      color       : var(--blue-base);
      font-size   : var(--font-size-14);
      font-weight : 600;
      transition  : .3s;
      left        : auto;
      position    : relative;
      &:first-child {
        border-left : none;
      }
      
    }
}
}

.G-data-table-body {
 
  .G-dropdown-link{
    border: 1px solid #CED8DD;
  }
  
  .G-data-table-body div:nth-child(1){
    background-color: #000;
  }
  .G-checkbox{
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
  }
  
  .G-FreezedRow{
    position: sticky;
    top: 48px;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.08);
    z-index: 35  ;
  }
 
  .G-row{
    
    &:hover {
      .G-rows-icons {
        display: flex;
        
      }
      &:first-child{
        box-shadow: 15px 0px 28px -13px rgba(0,0,0,0.33) !important
      }
    }
    .G-rows-icons{
      align-items : center;
      padding: 0 !important;
      position: sticky !important;
      top: 0;
      z-index: 13;
      width: 0 !important;
      height: auto;
      display: none;
      .G-icons-group{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 100px;
        background-image: linear-gradient(270deg, #FCFDFD 80.00%, rgba(252, 253, 253, 0.00) 100%);
        padding-right: 10px;
        .G-first-action{
          cursor: pointer;
          font-size: 24px;
          margin-right: 8px;
          display: flex;
          align-items: center;
          padding: 5px;
          &:hover{
            border-radius: 50%;
            background-color: #F0F4F6 !important;
          }
        }
        .G-action-nth{
          cursor: pointer;
          font-size: 24px;
          margin: 0 8px;
          display: flex;
          align-items: center;
          padding: 5px;
          
          &:hover{
            border-radius: 50%;
            background-color: #F0F4F6 !important;
          }
        }
        .G-modal-Icon{
          cursor: pointer;
          font-size: 24px;
          margin:0 0 0 8px;
          display: flex;
          align-items: center;
          padding: 5px;
          
          &:hover{
            border-radius: 50%;
            background-color: #F0F4F6 !important;
          }
          .G-drop{
            padding: 3px;
               .G-select-header{
                  width: 20px;
                 padding: 0;
                 box-shadow:none;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 height: 20px;
                 border: none;
                 background-color: rgba(0,0,0,0);
                  &:hover{
                      background-color: rgba(0,0,0,0);
                  }
                 p{
                   width: 0;
                 }
                 span{
                   font-size: 12px;
                 }
               }
               .G-select-list{
                translate:-100px -20px;
                background-color: white;
                max-width: 230px;
                width: 230px;
                height: auto !important;
                display: flex;
                justify-content: flex-start;
                ul{
                  display: flex;
                  flex-direction: column;
                  box-shadow: none !important;
                  
                  li{
                    justify-content: flex-start;
                    
                  }
                }
               }
             }
        }
        .G-freeze-Icon{
          cursor: pointer;
          font-size: 24px;
          margin:0 0 0 8px;
          display: flex;
          align-items: center;
          padding: 5px;
          
          &:hover{
            border-radius: 50%;
            background-color: #F0F4F6 !important;
          }
        }
        
      }
    }
    .G-dark-background{
      background-color: #FCFDFD !important;
      // min-height: 76px;
    }
    .G-light-background{
      background-color: white !important;
      // min-height: 76px;
    }
    ul {
      color           : #000;
      margin          : 0;
      display         : flex;
      position        : relative;
      list-style-type : none;
      border-bottom : 1px solid #CED8DD;
      
      &:nth-child(odd) {
        li {
          text-align: center;
        }
      }
      
      li {
        // width            : 100%;
        display          : flex;
        position         : relative;
        font-size        : 14px;
        color            : var(--grey-base);
        align-items      : center;
        padding          : 2px 10px;
        transition       : var(--transition);
        background-color : var(--white-01);
        justify-content: center;
        &:first-child {
          border-left   : none;
        }
      }
      
      &:last-child {
        .P-actions-list {
          bottom    : 0;
          top       : auto;
          transform : translateY(0);
        }
      }
      
    }
  }
}

.G-total-footer{
  display: flex; 
  position: sticky; 
  bottom: 0; 
  z-index:998;
  
  .G-data-table-footer
  {
    margin          : 0;
    z-index         : 999;
    display         : flex;
    font-size       : 14px;
    list-style-type : none;
    position        : -webkit-sticky;
    position        : sticky;
    top             : 0;
    background      : var(--grey-55);
    text-align: center;
    background-color      : #F3F6F8;
  
    li {
      background-color: #F3F6F8;
      padding     : 2px 10px;
      // width       : 100%;
      color       : var(--blue-base);
      font-size   : var(--font-size-14);
      font-weight : 600;
      transition  : .3s;
      left        : auto;
      position    : relative;
      &:first-child {
        border-left : none;
      }
    }
  }
  }
}

.G-empty-data-component{
  padding:calc(((100vh - 350px) - 292px)/2);
  .G-empty-data-icon{
    position: sticky;
    left: calc(100vw - 70%);
  }
}


.G-dropdown-list-style{
  font-size: 14px;
  color: black;
  display: flex;
}
