.P-download{
    border:1px solid  #4A4C56;
    border-radius: 4px;
    width: 200px;
    font-size: 14px;
    padding: 6px 0 ;
    &:hover{
        background-color: #4A4C56;
        color: white;
    }
    .G-select-list{
        top:32px;
        color: black;
    }
}