.P-download{
    background-color: #F7EBE5 !important;
    border:1px solid  #FB9C59;
    border-radius: 2px;
    width: 200px;
    font-size: 14px;
    padding: 6px 0 ;
    .G-select-list{
        top:32px
    }
}