
.P-date-actions-component{
    width: 100%;
    .P-actions-component{
        margin: 12px 0 0 10px;
    }
    .P-time-component{
        background-color: #F4F4F4;
        border-radius: 4px;
        div{
            width: 48px;
            padding: 6px 8px 0 8px;
            margin: 4px;
            font-weight: 600;
            color: #2B2976;
        }
    }
}
.MuiMultiSectionDigitalClock-root{
    background-color: #F4F4F4;

}